.wrapper {
    /*    display: grid;
        grid: 80px auto 80px / 120px auto;
        min-height: 100vh;
        width: 1200px;
        margin: 0 auto;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex: 1;
}

.content {
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    /* grid-row: 2 / 4;*/
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
